<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->
<!-- Header -->
<header id="header">
        <div class="inner">

                <!-- Logo -->
                        <a href="index.php" class="logo">
                                <span class="fa fa-car"></span> <span class="title">CAR RENTAL WEBSITE</span>
                        </a>

                <!-- Nav -->
                        <nav>
                                <ul>
                                        <li><a href="#menu">Menu</a></li>
                                </ul>
                        </nav>

        </div>
</header>

<!-- Menu -->
<nav id="menu">
        <h2>Menu</h2>
        <ul>
                <li><a href="index.php">Home</a></li>

                <li><a href="views/offers.html">Offers</a></li>

                <li><a href="views/fleet.php">Fleet</a></li>

                <li>
                        <a href="#" class="dropdown-toggle">About</a>

                        <ul>
                                <li class="active"><a href="views/about.html">About Us</a></li>
                                <li><a href="views/team.html">Team</a></li>
                                <li><a href="views/blog.html">Blog</a></li>
                                <li><a href="views/testimonials.html">Testimonials</a></li>
                                <li><a href="views/faq.html">FAQ</a></li>
                                <li><a href="views/terms.html">Terms</a></li>
                        </ul>
                </li>
                <li><a href="views/contact.html">Contact Us</a></li>
        </ul>
</nav>
